
<div class="container-xl pt-3 pe-5 ps-5 pb-3">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-flex">
                <div class="ms-0">
                    <h2 class="page-title"> Avoirs </h2>
                    <!-- Page pre-title -->
                    <div class="page-pretitle"> Les produits retournés par le client</div>
                </div>
            </div>
          </div>
          <!-- Page title actions -->
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <div class="d-flex">
                    <input type="text" class="form-control" id="barcodeSearch" value="" placeholder="Recherche ..." />
                    <button class="btn btn-primary btn-md" id="validatebarcodeSearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-4 p-10">
            <div class="table-responsive mb-5">
                <table id="orderTable" class="table table-striped table-hover bg-white table-bordered" >
                    <tbody class="">
                        <tr class="border-bottom">
                            <td><b>Référence</b></td>
                            <td class="text-end td_reference"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Employé</b></td>
                            <td class="text-end td_employee"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Client</b></td>
                            <td class="text-end td_client"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Date</b></td>
                            <td class="text-end td_date"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Montant</b></td>
                            <td class="text-end td_montant"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Payé</b></td>
                            <td class="text-end td_payed"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Reste</b></td>
                            <td class="text-end td_rest"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Date de credit</b></td>
                            <td class="text-end td_creditdelay"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td><b>Notes</b></td>
                            <td class="text-end td_notes"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 p-10">
            <div class="table-responsive bg-white border">
              <!--begin::Table-->
              <table id="productsTable" class="table table-striped table-hover bg-white table-bordered" >
                <thead>
                  <tr class="border-bottom fs-5 fw-bolder">
                    <th class="min-w-100px">Référence</th>
                    <th class="min-w-100px">Produit</th>
                    <th class="min-w-10px text-center">Qté.</th>
                    <th class="min-w-70px text-center">Prix U.</th>
                    <th class="min-w-70px text-center">Remise</th>
                    <th class="min-w-100px text-center">Montant</th>
                    <th class="min-w-100px text-center">Qté avoirs</th>
                    <th class="min-w-100px text-center">Montant avoirs</th>
                    <th class="min-w-10px text-end">Actions</th>
                  </tr>
                </thead>
                <tbody class="">
                </tbody>
              </table>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="avoirmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Avoirs</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body d-flex">
            <div class="col me-5">
                <label>Qté. :</label> 
                <input id="prd_qty_avoired_" data-qty="" type="number" class="form-control" placeholder="Qté."/>
            </div>
            <div class="col">
                <label>Montant : </label>
                <input id="prd_prix_avoired_" data-qty="" type="number" class="form-control" placeholder="Prix."/>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="set_avoired" class="btn btn-primary">Valider</button>
        </div>
      </div>
      
    </div>
</div>

<script>

var order_ = {};
var prdavoired = {};

$(document).ready(async function(){
    
    $('#validatebarcodeSearch').click(async function(){
        var reference = $('#barcodeSearch').val();

        await new Order().find(reference, 'reference')
        .then(async function(order) {
            order_ = order;
            order_.products = [];

            $('.td_reference').text(order.reference);
            $('.td_employee').text( order.employee || '-' );
            $('.td_client').text( order.client || '-' );
            $('.td_date').text( dateFomat(order.date) );
            $('.td_montant').text( tofixed2(order.amount) );
            $('.td_payed').text( tofixed2(order.payed) );
            $('.td_rest').text( tofixed2( order.amount - order.payed  ) );
            $('.td_creditdelay').text(  order.creditdelay ? dateFomat(order.creditdelay) : '' );
            $('.td_notes').text( order.notes );

            $('#productsTable tbody').html('');

            await new Order().products( order.id )
            .then(function(products) {
                order_.products = products;
                $.each( products, function(k, item){
                    $btn_avoired = '';

                    if( item.qty_avoired < item.qty){
                        $btn_avoired += `
                            <span order_product_id="${ item.id }" class="prd_avoired p-1 pe-0 svg-icon svg-icon-1 svg-icon-danger bg-light-danger" data-title="Avoirs" ><i class="fa fa-times"></i></span>
                        `;
                    }

                    $('#productsTable tbody').append(`
                    <tr class="text-end">
                        <td class="text-start ps-2"> ${ item.reference }  </td>
                        <td class="text-start ps-2"> ${ item.name }  </td>
                        <td class="text-center ps-1 pe-0"> ${ item.qty_avoired ? item.qty - item.qty_avoired : item.qty } </td>
                        <td class="text-center">
                          ${ tofixed2(item.price) }
                        </td>
                        <td class="text-center ps-1 pe-0"> ${ item.discount } %</td>
                        <td class="text-dark pe-3" style="white-space: nowrap;">
                            <span ${ item.discount ? 'class="text-danger" style="text-decoration: line-through; color: red;"' : '' } >${ tofixed2( item.qty * item.price , 2, ',', ' ') } DH</span>
                          
                            ${ item.discount ? `<span class="text-success">${ tofixed2( ( item.qty * item.price ) - item.discount , 2, ',', ' ') } DH</span>` : '' }
                        </td>
                        <td class="text-dark pe-3" style="white-space: nowrap;">${ item.qty_avoired ? '<span class="label label-danger">' + item.qty_avoired + '</span>' : '' }</td>
                        <td class="text-dark pe-3" style="white-space: nowrap;">${ tofixed2( item.price_avoired, 2, ',', ' ') } DH</td>
                        <td class="text-end">${ $btn_avoired }</td>
                    </tr>`);
                });
            })
            .catch(function (err){ });

        });

    });

    if( params && params.ref ){
        $('#barcodeSearch').val( params.ref );
        $('#validatebarcodeSearch').trigger('click');
    }

})
.off('click','#set_avoired')
.on('click','#set_avoired', function(){
    //$('#').show();
    var prix_avoired = $('#prd_prix_avoired_').val();
    var qty_avoired = $('#prd_qty_avoired_').val();
    var qty = prdavoired.qty;

    qty_avoired = parseFloat(qty_avoired);
    prix_avoired = parseFloat(prix_avoired);

    if( !qty_avoired || qty_avoired < 1 || qty_avoired + prdavoired.qty_avoired > qty ){
        $('#prd_qty_avoired_').focus();
        showMessage({
            title: 'Qté. doit être inférieur ou égale <br><br> <b>' + qty + '</b>',
            icon: 'warning'
        });
        return;
    }

    if( order_.payed > 0 ){

        max_prix_avoired = prdavoired.qty * prdavoired.price;

        if( prix_avoired > max_prix_avoired ){
            $('#prd_prix_avoired_').focus();
            showMessage({
                title: 'Montant. doit être <br>inférieur ou égale <br><br> <b>' + tofixed2( max_prix_avoired ) + ' DH</b>',
                icon: 'warning'
            });
            return;            
        }
    }

    showMessage({
      title: 'Marqueé ce produit comme retoure',
      icon: 'warning',
      showCancelButton: true,
    }).then( async (result) => {

        if (result.isConfirmed) {

            $rtrn = await new Order().avoired({
                id: order_.id,
                prdid: prdavoired.id,
                qty_avoired: qty_avoired > 0 ? qty_avoired : 0,
                prix_avoired: prix_avoired > 0 ? prix_avoired : 0,
            });

            if( $rtrn && $rtrn.state ){
                if( $rtrn.state == "success" ){
                    $('#prd_prix_avoired_').val('');
                    $('#prd_qty_avoired_').val('');
                    $('#avoirmodal').modal('hide');
                    $('#validatebarcodeSearch').trigger('click');
                }else{
                    showMessage({
                        title: 'Erreur!',
                        text: $rtrn.msg,
                        icon: 'error'
                    });
                }
            }
        }
    });
})
.off('click','.prd_avoired')
.on('click','.prd_avoired', function(){

    var order_product_id = $(this).attr('order_product_id');
    if( !order_product_id )
        return;

    prdavoired = order_.products.find((p)=>{return p.id == order_product_id});

    $('#avoirmodal .modal-title').text('Avoirs : ' + prdavoired.reference);
    $('#avoirmodal').modal('show');

    if( order_.payed > 0 ){
        $('#prd_prix_avoired_').show();
    }else{
        $('#prd_prix_avoired_').hide();        
    }

    $('#prd_qty_avoired_').attr('data-qty', prdavoired.qty );
});
</script>
<style type="text/css">
/*.column{
  padding: 20px;
}
#productsTable{
  border: solid 1px #eee;
}
#productsTable thead tr th{
  background:#00a0ea;
  text-align: center;
  color: #fff;
}
#productsTable tbody tr td{
  padding: 10px;
}
#orderTable tbody tr:nth-of-type(even){
  background: whitesmoke;
}

#orderTable{
  border: solid 1px #eee;
}
#orderTable tr:nth-of-type(even){
  background: whitesmoke;
}
#orderTable tr td{
  padding: 10px;
}+/
</style>