<div class="calc row">

  <div class="col-md-5">

    <table class="table table-hover table-striped table-borered">
      <tbody>
        <tr>
          <td><b>Référence</b> </td> <td class="achat_reference validate"></td> 
        </tr>
        <tr>
          <td><b>Objet</b> </td> <td class="achat_objet"></td> 
        </tr>
        <tr>
          <td><b>Date</b> </td> <td class="achat_date"></td> 
        </tr>
        <!--tr>
          <td><b>Fournisseur</b> </td> <td class="achat_supplier_id"></td> 
        </tr-->
        <tr>
          <td><b>Montant HT</b> </td> <td class="achat_montant_ht"></td>
        </tr>
        <tr>
          <td><b>Montant TTC</b> </td> <td class="achat_montant_ttc"></td>
        </tr>
        <tr>
          <td><b>Montant Payé</b> </td> <td class="achat_montant_paye"></td>
        </tr>
        <!--tr>
          <td><b>État</b> </td> <td class="achat_etat"></td>
        </tr-->
      </tbody>
    </table>
    
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    
    <table class="table table-striped table-borered" id="reg_table" style="background: #9999997d;">
      <tbody>
        
        <tr> 
          <td colspan="2" style="text-align: center;"><b>Ajouter Réglement</b>
        </tr>
        <tr> 
          <td><b>Montant</b></td> 
          <td>
            <input type="number" step="0.01" id="reg_montant" class="form-control validate" required="required" placeholder="0.00">
          </td> 
        </tr>
        <tr> 
          <td><b>Type</b></td> 
          <td>
            <select id="reg_type" class="form-control validate" required="required">
              <option value="espece">Espèce</option>
              <option value="cheque">Cheque</option>
            </select>
          </td> 
        </tr>
        <tr> 
          <td><b>Commentaire</b></td> 
          <td>
            <textarea id="reg_comment" class="form-control"></textarea>
          </td> 
        </tr>
        <tr> 
          <td colspan="2" style="text-align: center; padding: 20px;">
            <button id="add_new_reglement" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Ajouter Réglement</button>
          </td> 
        </tr>

      </tbody>
    </table>
    <br>
  </div>

  <hr>

  <table id="cmnd_reglements" class="table table-hover table-striped table-borered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Montant</th>
        <th>Type</th>
        <th>Employé</th>
        <th>Commentaire</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

  <div class="clearfix"></div>

</div>



<script type="text/javascript">
$(document).ready( async function(){
  $('#modalView .modal-header').html('<button type="button" class="close" data-dismiss="modal">&times;</button><h5 class="modal-title">Réglements</h5>');

  if( params && params.id ){

    $('#add_new_reglement').click(async function(){
        
        if( checkRequiredField('#reg_table') ) return;
        //
        var object_ = {};
        object_.montant = $('#reg_montant').val();
        object_.type    = $('#reg_type').val();
        object_.commantaire = $('#reg_comment').val();
        object_.achat_id = params.id;
        object_.user_id = auth().id;

        var data = await new Achat().addReglement( params.id, object_)
        .then( async (achat)=>{
          if( achat && achat.id ){
            await loadView({
              module: "achat",
              action: "reglement",
              params: {
                id: achat.id,
              },
              asmodal: true,
              modalsize: "lg",
            });

            $('#validatebarcodeSearch').trigger('click');
          }
        });
    });

    await new Achat().find( params.id )
    .then( async (achat)=>{

        if( achat.montant_ht <= achat.montant_paye ){
          $('#reg_table').hide();
        }

        log(achat)

        $('.achat_reference').html(achat.reference);
        $('.achat_objet').html(achat.objet);
        $('.achat_date').html( dateFomat(achat.date) );
        $('.achat_supplier_id').html(achat.supplier_id);
        $('.achat_montant_ht').html( tofixed2(achat.montant_ht) );
        $('.achat_montant_ttc').html( tofixed2(achat.montant_ttc) );
        $('.achat_montant_paye').html( tofixed2(achat.montant_paye) );
        $('.achat_etat').html( __('achat.'+achat.etat) );
    });

    await new Achat().reglements( params.id )
    .then( async (result)=>{
      $.each( result, function(k, reg){
        $('#cmnd_reglements tbody').append(
          `<tr>
            <td class="text-center">${ dateTimeFomat(reg.created_at) }</td>
            <td class="money">${ tofixed2( reg.montant ) } DH</td>
            <td class="text-center">${ reg.type }</td>
            <td class="text-center">${ reg.employee || '-' }</td>
            <td>${ reg.commantaire || '' }</td>
          </tr>`
        );
      });
    });
  }

});
</script>