<div class="shelf-list pannel pannel-list pannel-shelf">
    <div class="pannel-header">
        <div class="header-title">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            trans_shelf.list
        </div>
        <div class="header-actions">
            <button type="button" data-asmodal="true"  data-modalsize="md" data-permission="SHELF_UPDATE" loadView="shelf,update" class="btn btn-xs pull-right">
                <img src="../assets/icons/svg2/plus-blue.svg" class="btn_icon_xs" alt="icon action" />
            </button>
        </div>
    </div>
    <div class="data">
        <table class="dataTable table table-hover table-striped table-bordered" id="shelf-filter">
            <thead>
                <tr>
                    <th>trans_shelf.code</th>
                    <th>trans_global.actions</th>
                </tr>
                <tr >
                    <td><input type="text" class="form-control" name="code" /></td>
                    <td>
                        <button filter="true" filter-view=".shelf-list" filter-form="#shelf-filter .form-control" type="button" class="btn btn-default btn-xs">
                            <img src="../assets/icons/svg2/search.svg" class="btn_icon_xs" alt="icon action" />
                        </button>
                        <button filter="false" filter-view=".shelf-list" filter-form="#shelf-filter .form-control" type="button" class="btn btn-default btn-xs">
                            <img src="../assets/icons/svg2/cancel_.svg" class="btn_icon_xs" alt="icon action" />
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="actions"></div>
    </div>
</div>

<script>
(async()=>{
    await loadList({
        load: true,
        view: '.shelf-list',
        module: new Shelf(), 
        success_: list_shelf_callback
    });
})();

function list_shelf_callback(result){
    $.each(result.data, function (ke, object) {
        $('.shelf-list .dataTable tbody').append(
            '<tr>' +
            ' <td>'+ (object.code || '' )+'</td> ' +
            ' <td> ' + listActions('shelf', object.id) + ' </td> ' +
            ' </tr>');
    });
}
</script>